<div ng-show="courses.length">
  <h1>Here are all of your courses:</h1>
  <ul>
    <li ng-repeat="item in courses">
      <div ng-hide="editing">
        <a ui-sref="courses.students({ courseId: item.id })">{{ item.name }}</a>
        <button ng-click="editing = true" class="btn btn-warning btn-xs">Edit</button>
        <button ng-click="CoursesFactory.deleteCourse(item)" class="btn btn-danger btn-xs">X</button>
      </div>

      <div class="form-group" ng-show="editing" ng-submit="editing = false">
      <form class="form-inline" role="form">
        <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
        <button class="btn btn-info btn-sm" type="submit">Save</button>
      </form>
    </div>

    </li>
  </ul>
</div>

<div class="col-md-4">
  <h3>Add a new course:</h3>
  <form ng-submit="CoursesFactory.addCourse()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="CoursesFactory.courseName" class="form-control" placeholder="Enter a course name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div ui-view> </div>
